/* ---- 🐧 https://github.com/Solrojo-Script 🐧 ---- */
* {
	border: none;
	border-radius: 10px;
        font-family: "JetBrainsMono Nerd Font";
	font-size: 15px;
	font-weight: bold;
	min-height: 10px;
	/*color: #cba6f7;*/
}

#window {
  color: #bd93f9;
  background-color: #1e1e2e;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 8px; 
  padding-left: 10px; 
  border-bottom: 3px;
  border-style : solid;
  border-color : #bd93f9;
  min-width: 10px;
  transition: 0.3s;
}

window#waybar {
    background: transparent;
}

#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    color: #bd93f9;
    background: #1e1e2e;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9; 
    transition: 0.3s;
}

#workspaces button {
    color: #bd93f9;
    transition: 0.3s;
}

#workspaces button.active {
  color: #1e1e2e;
  background: #bd93f9;
}

#workspaces button:hover {
    background: #bd93f9;
    color: #1e1e2e;
}

#tray{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #bd93f9;
    background: #1e1e2e;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#clock:hover {
    color: #32111C;
    background: #bd93f9;
}

#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#pulseaudio:hover {
    color: #1e1e2e;
    background: #bd93f9;
}

#wireplumber {
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#wireplumber:hover {
    color: #1e1e2e;
    background: #bd93f9;
}

#backlight {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#backlight:hover {
    color: #1e1e2e;
    background: #bd93f9;
}

#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#network:hover {
    color: #1e1e2e;
    background: #bd93f9;
}

#battery{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#battery:hover{
    color: #1e1e2e;
    background: #bd93f9;
}


#bluetooth {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#bluetooth:hover {
    color: #1e1e2e;
    background: #bd93f9;
}

#custom-power {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1e1e2e;
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}

#custom-power:hover {
    color: #1e1e2e;
    background: #bd93f9;
}


/*-----Indicators----*/

#battery.warning:not(.charging) {
	color: #e6e600;
}

#battery.charging
{
  color: #00D059;
}

#battery.charging:hover{
  color: #1e1e2e;
  background: #bd93f9;
}

#battery.warning:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
