* {
	background-image: none;
	box-shadow: none;
	transition: 20ms;
	font-size: 25px;
	font-weight: bold;
}

window {
	background-color: rgba(12, 12, 12, 0.7);
}

button {
    border-radius: 0;
    border-color: black;
    text-decoration-color: #FFFFFF;
    color: #bd93f9;
    background-color: #1e1e2e;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:hover {
	background-color: #bd93f9;
	color: #1e1e2e;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
margin: 10px;
  border-radius: 20px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
margin: 10px;
  border-radius: 20px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
margin: 10px;
  border-radius: 20px;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
margin: 10px;
  border-radius: 20px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
margin: 10px;
  border-radius: 20px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
margin: 10px;
  border-radius: 20px;
}
