window {
    margin: 0;
    padding: 0;
    border: 2px solid #bd93f9;
    background-color: #1e1e2e;
    font-family: "Jetbrains Mono", monospace;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

#input {
    margin: 10px;
    padding: 8px 12px;
    border: 2px solid #bd93f9;
    border-radius: 6px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    outline: none;
    box-shadow: none;
}

#entry {
    padding: 10px 10px;
    margin: 5;
    border: none;
    background-color: transparent;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #bd93f9;
    color: #1e1e2e;
}
